/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 150%; /* This will scale all fonts up by 3x */
}

body {
    background-color: #000;
    color: #c7c7c7;
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
}

.sidebar {
    min-width: 150px;
    max-width: 15vw;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 100%; /* Fill the width of the sidebar */
    height: auto; /* Maintain aspect ratio */
    transform: rotate(270deg) translateX(-200%) scale(4); /* Rotate and adjust position */
    transform-origin: center; /* Rotate around the center */
    object-fit: contain; /* Keep the aspect ratio without distortion */
    margin: 0; /* Remove margin */
}

.masterclass-info {
    margin-top: 50px;
    max-width: 35vw;
    text-transform: uppercase;
}

#ytbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; /* Ensure video is behind everything */
    display: none;
}

#reg-form-title, .submit-form {
    display: inline-block!important;
    padding: 10px 20px!important; /* Adjust padding for desired size */
    background-color: #c1c6c0!important; /* The grey color for the background */
    color: #000000!important; /* The text color */
    font-weight: bold!important; /* Bold text */
    border-radius: 30px!important; /* Rounded corners to create a pill-shaped button */
    font-family: 'Arial', sans-serif!important; /* Optional: Set a font */
    text-transform: uppercase!important; /* Makes the text uppercase */
    letter-spacing: 2px!important; /* Spacing between letters */
    box-shadow: none!important; /* No shadow */
    text-align: center!important; /* Centers the text */
    margin-bottom: 15px!important;
    width: auto!important;
}

.application-form {
    background-color: #000; /* Form background color */
    font-family: 'Arial', sans-serif;
    color: #c1c6c0; /* Text color */
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #c1c6c0;
}

.form-input {
    width: 100%;
    padding: 10px 0;
    background-color: #000!important;
    border: none!important;
    outline: none!important;
    color: #c1c6c0!important; /* Same color as the labels */
    font-family: 'Replica ProTT';
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    appearance: none; /* Hides the default select arrow */
}

.add-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 1px solid #c1c6c0;
    border-radius: 50%;
    color: #c1c6c0;
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.form-input::placeholder {
    color: #c1c6c0;
    opacity: 1;
}

.info {
    font-size: 20px;
    margin-top: 5px;
    color: #c1c6c0; /* Grey info text */
}


.event-details {
    color: #8ACE00;
}

.content {
    flex: 1;
    padding: 20px;
}

.tour-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.tour-info ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.tour-info ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.application-form {
    margin-top: 40px;
}

.application-form form {
    display: flex;
    flex-direction: column;
}

.application-form input, 
.application-form select {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2f2f2f;
    border: 1px solid #444;
    color: #c7c7c7;
}

.about-section {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 15px solid #5E665D;
    border-radius: 50px;
}

.about-box {
    width: 48%;
    padding: 20px;
    color: white;
}

.hxhouse h1, .tait h1 {
    font-size: 36px;
    color: #D3E228;
    font-weight: bolder;
}

.hxhouse h2, .tait h2 {
    font-size: 24px;
    color: #5E665D;
}

.hxhouse p, .tait p {
    font-size: 16px;
    line-height: 1.6;
    color: #B5B5B5;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: #B5B5B5;
}

.footer-links a {
    color: #B5B5B5;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #D3E228;
}

.footer p {
    margin-bottom: 20px;
}

.hxTape {
    position: fixed; top: 25px; right: 25px; z-index: 999; margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    html, body {
        width: 100vw; /* Ensure the width is limited to 100vw */
        overflow-x: hidden; /* Prevent horizontal overflow */
        margin: 0; /* Remove default margin */
    }

    .container {
        flex-direction: column;
        width: 100vw; /* Fit the container to the viewport width */
        height: auto; /* Allow height to adjust as needed */
    }

    .event-details {
        position: absolute; /* Make the element absolute to the viewport */
        top: 55%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%) rotate(-90deg); /* Shift and rotate */
        list-style: none; /* Remove bullet points */
        text-align: center; /* Center the text within the element */
        width: 100vh; /* Make it take up the full height of the screen */
        height: 100vw; /* Use width for the rotated height */
        display: flex; /* Flexbox for centering */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }

    .sidebar {
        position: absolute; /* Make the element absolute to the viewport */
        top: -6.5%; /* Center vertically */
        left: 5%; /* Center horizontally */
        list-style: none; /* Remove bullet points */
        text-align: center; /* Center the text within the element */
        width: 100vh; /* Make it take up the full height of the screen */
        height: 100vw; /* Use width for the rotated height */
        display: flex; /* Flexbox for centering */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }

    .hxTape {
        position: absolute; /* Make the element absolute to the viewport */
        top: 55%; /* Center vertically */
        left: 80%; /* Center horizontally */
        transform: translate(-50%, -50%) scale(0.25); /* Shift and rotate */
        list-style: none; /* Remove bullet points */
        text-align: center; /* Center the text within the element */
        width: 100vh; /* Make it take up the full height of the screen */
        height: 100vw; /* Use width for the rotated height */
        display: flex; /* Flexbox for centering */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
    }


    .event-details > li > span {
        margin: 15px;
    }

    .masterclass-info {
        margin-top: 100vh;
        max-width: 100vw!important;
    }

    .sidebar {
        width: 100%;
        order: 2;
    }

    .form-input {
        font-size: 120%;
    }

    .info {
        font-size: 12px;
        padding-left: 12px;
    }

    .about-section {
        display: block;
    }

    .about-box {
        width: 78vw;
    }

    #ytbg {
        display: block;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(90deg) scale(2)!important; /* Shift and rotate */
        opacity: 0.4;
    }

    .content {
        order: 1;
    }
}
